:root {
  --theme-color1: #2A3040;
  --theme-color2: #84ceeb;
  --theme-color3: #3f6675;
  --theme-color4: #c1c8e4;
  --theme-color5: #8860d0;
  --base-color1: #394156bb;
  --text-color1: black;
  --text-color2: #888;
}
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.8);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8b8b9a;
  -webkit-box-shadow: inset 0 0 4px rgba(255,255,255,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(150,150,150,0.4);
}
* {
  /* disable text selection */
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
@font-face {
  font-family: 'notoEmoji';
  src: url('../fonts/notoemoji.ttf') format('truetype'),
   url('../fonts/notoemoji.woff') format('woff'),
   url('../fonts/notoemoji.woff2') format('woff2');
}
html {
  font-family: Arial,'Hiragino Sans GB',STXihei,'Microsoft YaHei',sans-serif;
  text-align: center;
  background-color: var(--theme-color1);
  color: white;
  font-size: 12pt;
  zoom: 1.1;
}
header {
  line-height: 13pt;
  font-weight: bold;
}
header h2 {
  padding-bottom: 20px;
}
body {
  overflow: hidden;
  font-family: Tahoma, Geneva, sans-serif;
}
#page1>div>div:first-child {
  background-color: var(--base-color1);
  border-radius: 10px;
  padding: 5px;
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}
#page1>div>div>div {
  margin: 0 auto;
  width: 50%;
  text-align: left;
  overflow-y: scroll;
  max-height: 300px;
}
#page1>div>div>div::-webkit-scrollbar {
  display: none;
}
#questions {
  overflow-y: scroll;
  width: 100%;
  height: 80%;
  text-align: center;
  background-color: black;
  position: relative;
  font-size: 1.2rem;
}
#questions div {
  margin: 15px 0;
}
#questions div div {
  width: 80%;
  padding: 5px 10px;
  margin: 0 auto;
  text-align: left;
}
#questions>div>div>p:first-child {
  font-weight: bolder;
  text-decoration: underline;
}
.eback {
  position: absolute;
  left: 20px;
  top: 10px;
}
/* Styling range */
input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: var(--theme-color4);
  cursor: pointer;
}
/* Styling radio */
input[type=radio] + label {
  display: block;
  cursor: pointer;
  position: relative;
  top: -4.4px;
}
input[type=radio] {
  display: none;
}
input[type=radio] + label:before {
  content: " ";
  border: 0.15rem solid #fff;
  border-radius: 50%;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.1rem 0.2rem 0.2rem 0.1rem;
  margin-right: 1.1rem;
  color: transparent;
  transition: .2s;
  position: relative;
  bottom: -7px;
}
input[type=radio]:disabled + label:before {
  opacity: 0.5;
  border: 0.15rem solid #efefef;
}
input[type=radio]:not(:disabled) + label:active:before {
  transform: scale(0);
}
input[type=radio]:checked + label:before {
  background-color: var(--theme-color4);
  border-color: 0.1rem solid var(--theme-color1);
  color: #fff;
}
#result {
  border-radius: 10px;
  background-color: var(--theme-color1) !important;
  width: 30%;
  height: auto;
  position: absolute;
  top: 0;
  transition: .5s;
}
#result>p {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 10px 0;
}
#result div {
  width: 90%;
  height: 90%;
  overflow-y: scroll;
}
#result ul {
  list-style: none;
  padding: 10px 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
}
#result ul:not(:last-child) {
  margin: 0 0 15px 0;
}
#result ul:nth-child(odd) {
  background-color: rgba(0,0,0,0.6);
}
#result ul li:first-child {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  font-size: 1.2rem;
}
.contents #listWords {
  overflow: scroll;
  height: 100vh;
}
.contents #listWords div {
  font-size: 1.6rem;
  color: black;
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  justify-content: space-around;
  margin: 3px 0;
}
.contents {
  display: block;
  animation: fadein 1s linear;
}
.divButtons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
a, button {
  cursor: pointer;
}
i {
  font-family: 'notoEmoji', Fallback, sans-serif;
  font-style: normal;
}
#echange {
  font-weight: bold;
  margin: 1.4rem 0 2rem 0;
}
footer {
  position: absolute;
  display: flex;
  margin: 0;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  background-color: var(--theme-color1);
  border-top: 10px solid var(--theme-color1);
  width: 100%;
}
footer button {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: var(--theme-color1);
  border-radius: 0;
  padding: 6px 0;
  width: 100%;
}
footer .active {
  transform: translate(0,-5px);
}
footer .active:after {
  content: '__';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
}
button {
  position: relative;
  background-color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 50px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--theme-color1)
}
button.btn {
  box-shadow: 0 7px rgba(255,220,220,0.9);
  top: -10px;
}
button.btn:active {
  box-shadow: 0 5px rgba(255,220,220,0.9);
  transform: translateY(3px);
}
.popup {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color1) !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  transition: .2s;
}
@keyframes ripple {
  0% { transform: scale(0, 0); opacity: 1; }
  10% { transform: scale(10, 10); opacity: 1; }
  100% { transform: scale(100, 100); opacity: 0; }
}
@media only screen and (max-height: 680px) {
  html { zoom: 0.85 }
}
@media only screen and (max-height: 630px) {
  html { zoom: 0.8 }
}
@media only screen and (max-height: 580px) {
  html { zoom: 0.75 }
}
@media only screen and (max-height: 510px) {
  html { zoom: 0.65 }
}
@media only screen and (max-height: 460px) {
  html { zoom: 0.55 }
}
@media only screen and (max-height: 380px) {
  html { zoom: 0.45 }
}
@media only screen and (max-height: 320px) {
  html { zoom: 0.4 }
}
@media only screen and (max-height: 300px) {
  html { zoom: 0.3 }
}
.animate-1 {
  animation: fadein 1s linear;
}
.animate-2 {
  animation: fadeleft .7s linear;
}
.animate-3 {
  animation: fade 1s linear;
}
.correct {
  animation: correct .33s linear;
  animation-fill-mode: forwards;
}
.wrong {
  animation: wrong .5s linear;
  animation-fill-mode: forwards;
}
@keyframes correct {
  0% { transform: scale(1, 1); color: black;}
  50% { transform: scale(1.05, 1.05); color: black;}
  100% { transform: scale(1, 1); color: green;}
}
@keyframes wrong {
  0% { transform: translateX(0); color: black;}
  25% { transform: translateX(-10px); color: red;}
  50% { transform: translateX(0); color: red;}
  75% { transform: translateX(10px); color: red;}
  100% { transform: translateX(0); color: red;}
}
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadein {
    from { transform: translate(0,20px); opacity: 0; }
    to { transform: translate(0,0); opacity: 1; }
}
@keyframes fadeleft {
    from { transform: translate(50px,0); opacity: 0; }
    to { transform: translate(0,0); opacity: 1; }
}

/* Flip */
/* #flipcard {
  opacity: 1;
  visibility: visible;
  justify-content: flex-start;
} */
#flipcard {
  background-color: var(--theme-color1);
  display: flex;
  justify-content: center;
  margin: 10px 0 30px 0;
  /* width: 100%; */
}
.typeSrs button {
  padding: 5px 10px;
  margin: 0 5px;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;

  width: 80%;
  height: 5px;
  position: absolute;
  bottom: 50px;
}
progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-color: var(--theme-color2);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  transition: width 1.5s ease;
}
.studyBtn {
  display: grid;
  grid-gap: 7px;
  /* grid-template-columns: minmax(0, 33%) minmax(0, 33%) minmax(0, 33%); */
  grid-template-rows: minmax(0, 33%) minmax(0, 33%) minmax(0, 33%) minmax(0, 33%);
  width: 93%;
}
.studyBtn button {
  position: relative;
  padding: 0;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  font-weight: normal;
  font-size: 0.9rem;
  overflow: hidden;
  transition: box-shadow .3s, border .3s, background .2s;

  text-align: left;
  padding-left: 65px;
  padding-right: 5px;
}
.studyBtn button.clickedBtn {
  background: rgba(255,255,255,0.2);
}
.studyBtn button.clickedBtn span {
  opacity: 0.5;
}
.studyBtn button span {
  background-color: var(--theme-color2);
  width: 20px;
  height: 50px;
  padding: 7px 11px 10px 14px;
  position: absolute;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  top: 0;
  left: 0;
  border-right: 5px solid var(--theme-color3)
}
.studyBtn button:disabled {
  /* background-color: rgba(0,0,0,0.7); */
  cursor: auto;
}
.studyBtn button .active {
	animation: anim-effect-boris 0.3s forwards ease-in-out;
}
.studyBtn button::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
}
@keyframes ripple {
  0% { transform: scale(0, 0); opacity: 1; }
  10% { transform: scale(10, 10); opacity: 1; }
  100% { transform: scale(100, 100); opacity: 0; }
}
/* #divAnswers button:active::after, #divAnswers button:focus::after {
  animation: ripple .6s ease-out;
} */
#eflip {
  background-color: transparent;
  width: 80%;
  height: 40%;
  margin-top: -10px;
  color: var(--text-color1);
  perspective: 1000px;
}
#bigCard {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
#bigCard.flipped {
  transform: rotateY(-180deg);
}
.bigCard {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.front {
  background-color: white;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 0;
  font-weight: bold;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.front p {
  /* color: var(--text-color2); */
  font-size: 1.6rem;
  margin: 10px;
  transition: opacity 1s;
}
@keyframes anim-effect-boris {
	0% {
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}
